[submodule "third_party/onnx"]
	path = third_party/onnx
	url = https://github.com/onnx/onnx.git
	branch = d3f6b795aedb48eaecc881bf5e8f5dd6efbe25b3
[submodule "third_party/optimizer"]
	path = third_party/optimizer
	url = https://github.com/onnx/optimizer.git
	branch = 94d238d96e3fb3a7ba34f03c284b9ad3516163be
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = 45fab4087eaaff234227a10cf7845e8b07f28a98
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog.git
