.DS_Store

*~

*.pyc
.pydevproject
.eggs/*
dist/*
.setuptools*
paddle2onnx.egg-info/*
*.pdmodel
*_*.onnx
*.log
version.py
paddle2onnx/mappers_registry.h

# CMD
build/*
paddle2onnx-*

# Clion
cmake-build-*
.idea

# VSCode
.vscode